.navbar-brand{
    padding: 10px 15px  !important;
}
.logo{
    height: 70px !important;
}

@media(max-width: 1023px){
    .navbar-brand > img {
        height: 50px !important;
    }
}

@media(min-width: 992px){
    .about-content .thumb img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 416px;
    }
}