:root {
	--mutted-border-color: #dae0e5;
	--color-primary: #2C65E1;
	--color-grey:  #666;
	--button-shadow-color-normal: hsla(0,0%,42.4%,0.2);
	--color-muted: #687385;
}

body {
	font-family: 'Nunito', sans-serif;
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #000000;
}

.section {
	margin: 8rem 0;
}

.section-header {
	margin-bottom: 30px!important;
	border-bottom: 1px solid var(--mutted-border-color);
	padding-bottom: 10px;
	position: relative;
	font-weight: 700;
}

.section-header:after {
	content: "";
	background: var(--color-primary);
	height: 4px;
	width: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 5px;
}


nav.navbar.bootsnav ul.nav > li > a:hover {
    color: var(--color-primary);
}

@media (min-width: 1024px) {
	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a:hover {
		color: var(--color-primary);
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
		border-bottom: unset;
	}
}



/**
 * 	Custom Single Post Item
 * */
.single-item-custom {
	position: relative;
	min-height: 100px;
	margin-bottom: 20px;
}

.single-item-custom .thumb {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 90px;
	height: 90px;
	border-radius: 10px;
}

.single-item-custom .thumb img {
	width: 90px;
	height: 90px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
	transition: 1s;
}

.single-item-custom .thumb img:hover {
	transform: scale(1.3);
}

.single-item-custom .content {
	margin-left: 110px;
}


.single-item-custom .content .title {
	font-weight: bold;
	margin-bottom: 0px;
}

.single-item-custom .content .date {
	color: var(--color-grey);
	font-size: 9pt;
}

.single-item-custom .content .tag-container {
	margin-bottom: 5px;
}

.single-item-custom .content .tag {
	background: var(--color-primary);
	color: white;
	padding: 5px 8px;
	font-size: 8.5pt;
	border-radius: 6px;
	margin-right: 5px;
}

.single-item-custom-2 {
	min-height: 150px;
	margin-bottom: 30px;
}

.single-item-custom-2 .thumb {
	width: 150px;
	height: 150px;
	border-radius: 15px;
}

.single-item-custom-2 .thumb img {
	width: 150px;
	height: 150px;
	border-radius: 15px;
}

.single-item-custom-2 .content {
	margin-left: 170px;
}





#footer {
	background: #F1F5F8;
	border-top: unset;
	padding: 4rem 0;
}

#footer .copyright {
	border-top: 1px solid var(--mutted-border-color);
	padding-top: 2rem;
}

#footer .links li {
	display: block;
	margin: 5px 0;
	border-top: 1px dotted var(--mutted-border-color);
}

#footer .links li:first-child {
	border-top: unset;
}

#footer .links li a {
	margin-left: 0;
}

#footer .links li a:hover {
	color: var(--color-primary);
}



.bg-gray {
	background: #F1F5F8;
}

.bg-primary {
	background: var(--color-primary);
}

.text-muted {
	color: var(--color-grey) !important;
}

.top-bar-area.bg-light .info.box li .icon i {
    color: var(--color-primary) !important;
}


.pagination-custom {
	display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
	display: flex;
}

.pagination-custom li {
	display: inline;
}

.pagination-custom li a {
	border: 0;
	font-size: 13px;
	outline: 0;
	color: #889097;
	background: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	padding: 0;
	margin-right: 10px;
	box-shadow: 0 2px 4px var(--button-shadow-color-normal),0 0 0 transparent;
	transition: all .25s cubic-bezier(.02,.01,.47,1);
	position: relative;
	display: block;
	border-radius: 50%!important;
    background: none;
}

.pagination-custom li.active a {
	background: var(--color-primary);
	border-color: var(--color-primary);
	color: white;
}


.breadcrumb-area-custom {
	background: #F1F5F8;
	padding: 5rem 0;
}

.breadcrumb-area-custom h1 {
	text-transform: unset;
}

.breadcrumb-custom {
	margin-bottom: 2rem;
}

.breadcrumb-custom li {
	display: inline;
}

.breadcrumb-custom a {
	color: var(--color-muted);
}

.breadcrumb-custom a:hover {
	color: var(--color-primary);
}

.mx-1 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.img-post-custom {
	width: 100%;
	height: auto;
	border-radius: 20px;
	margin-bottom: 5px;
}

.content-post-custom p {
	font-size: 1.2em;
	color: #000000;
}

.table-custom {
	padding: 10px;
	border-radius: 10px;
	border-width: 1px !important;
}

.table-custom td,
.table-custom th {
	border-left: unset !important;
	border-right: unset !important;
}

.table-custom tr.odd td {
	background: #fff !important;
}

.table-custom th {
	border-bottom: 0px !important;
}

.badge-primary-btn {
	display: inline-block;
	font-size: 80%;
	padding: 5px 7px;
	border-radius: 20px;
	background: var(--color-primary);
	color: #fff;
}

.badge-primary-btn:hover {
	color: #fff !important;
}